server {
    listen 443 ssl;
    server_name ws.flookaa.com;


    # SSL certificate
    ssl_certificate /etc/letsencrypt/live/ws.flookaa.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ws.flookaa.com/privkey.pem;

    set $nats_host "{{ containers.nats.ip }}:{{ containers.nats.ports.http }}";

    ## api proxy pass
    location / {
        proxy_pass http://$nats_host;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Required for WebSocket support
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }

    ## Health check
    location /health {
        return 200 "OK\n";
    }

    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

}
