all:
  hosts:
    redis:
      ip: "{{ containers.redis.ip }}"
      ansible_host: "{{ ansible_host_machine.ansible_host }}"
      lxc_container: "redis"
      ansible_connection: lxc_ssh
      ansible_ssh_private_key_file: ~/ssh-keys/lxd_dev.pem
      ansible_user: ubuntu
      ansible_python_interpreter: /usr/bin/python3
      ansible_become: true
      ansible_become_method: sudo
      ansible_become_user: root

  vars:
    container_user: "root"
    container_ssh_key: "./files/ssh-key.pem"

    redis_data_dir: "/var/lib/redis"
    redis_config_dir: "/etc/redis"
    redis_log_dir: "/var/log/redis"
    redis_port: 6379
    redis_bind_address: "0.0.0.0"

    redis_user: "redis" # Changed to redis for simplicity in LXC
    redis_group: "redis" # Changed to redis for simplicity in LXC
    redis_user_id: 2001
    redis_group_id: 2001


    grpc_service_name: "gRPC-server"
    grpc_port: 5060
    grpc_user: "gRPC"
    grpc_group: "gRPC"
    grpc_user_id: 2002
    grpc_group_id: 2002
    grpc_binary_path: "/home/gRPC/server"
    grpc_working_dir: "/home/gRPC"
    grpc_watching_dir: "/home/gRPC/watched"
    grpc_ssh_key: "./files/ssh-key.pem"

    service_managed_by_gRPC: "redis_projection"
    service_working_dir: "/opt/{{ service_managed_by_gRPC }}/current"
    service_binary_name: "redis_projection"
    app_user: "redis_projection"
    app_group: "redis_projection"
    app_user_id: 2003
    app_group_id: 2003
    app_ssh_key: "./files/ssh-key.pem"

    alloy_monitor_service: "redis_projection"