---
- name: Remove cloud-init netplan config file if it exists
  ansible.builtin.file:
    path: /etc/netplan/50-cloud-init.yaml
    state: absent

- name: Create custom netplan config file
  ansible.builtin.template:
    src: shared/netplan-config.yml.j2
    dest: /etc/netplan/01-netplan.yaml
    mode: '0644'

- name: Apply netplan configuration
  ansible.builtin.command: netplan apply


- name: Copy resolver service file
  ansible.builtin.template:
    src: shared/resolver.service.j2
    dest: /etc/systemd/resolved.conf
    mode: '0644'

- name: Restart systemd-resolved service
  ansible.builtin.systemd:
    name: systemd-resolved
    state: restarted