---
- name: Setup s3
  hosts: s3
  gather_facts: true
  become: true
  vars_files:
    - universe.yml
  roles:
    - init_container

  tasks:
    - name: Install required packages
      ansible.builtin.apt:
        name:
          - ffmpeg
        state: present
        update_cache: true

    - name: Ensure app group exists
      ansible.builtin.group:
        name: "{{ app_group }}"
        gid: "{{ app_group_id }}"
        state: present
        system: true

    - name: Ensure app user exists
      ansible.builtin.user:
        name: "{{ app_user }}"
        uid: "{{ app_user_id }}"
        group: "{{ app_group }}"
        create_home: true
        shell: /usr/bin/bash
        home: "/home/{{ app_user }}"
        state: present
        system: true

    - name: Add SSH public key to authorized_keys for app user
      ansible.builtin.authorized_key:
        user: "{{ app_user }}"
        key: "{{ lookup('file', app_ssh_key) }}"
        state: present
      become: true

    - name: Copy app service file
      ansible.builtin.template:
        src: "templates/s3/s3.service.j2"
        dest: "/etc/systemd/system/{{ service_managed_by_gRPC }}.service"
        owner: root
        group: root
        mode: "0644"

    - name: Create Storage directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ app_user }}"
        group: "{{ app_group }}"
        mode: "0755"
      loop: "{{ storage_dirs }}"

    - name: Reload systemd to recognize new s3 service
      ansible.builtin.systemd:
        daemon_reload: true

    - name: Ensure app service is started and enabled
      ansible.builtin.service:
        name: "{{ service_managed_by_gRPC }}"
        state: started
        enabled: true

    - name: Restart app service to apply environment variable changes
      ansible.builtin.service:
        name: "{{ service_managed_by_gRPC }}"
        state: restarted
        enabled: true
