@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --font-inter: "Inter", sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  /* Primary color components (user-editable) */
  --primary-l: 0.6906;
  --primary-c: 0.1695;
  --primary-h: 247.84;
}

:root {
  --background: oklch(0.966 0.018 237.762);
  --foreground: oklch(0.25 0 0);

  --card: oklch(0.975 0 0);
  --card-foreground: var(--foreground);

  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --border: oklch(0.922 0 0);
  --input: var(--border);
}

:root {
  --primary: oklch(
    var(--primary-l)
    var(--primary-c)
    var(--primary-h)
  );

  --primary-foreground: oklch(0.985 0 0);
}

:root {
  --secondary: oklch(
    calc(var(--primary-l) + 0.20)
    calc(var(--primary-c) * 0.1)
    var(--primary-h)
  );

  --secondary-foreground: oklch(0.25 0 0);
}

:root {
  --muted: oklch(
    calc(var(--primary-l) + 0.35)
    0
    0
  );

  --muted-foreground: oklch(0.556 0 0);
}

:root {
  --accent: oklch(
    calc(var(--primary-l) + 0.25)
    calc(var(--primary-c) * 0.3)
    var(--primary-h)
  );

  --accent-foreground: oklch(0.25 0 0);
}

:root {
  --ring: var(--primary);
}


:root {
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);

  --success: oklch(0.646 0.222 141.116);
  --warning: oklch(0.718 0.178 74.48);
}

:root {
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}


:root {
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);

  --sidebar-accent: var(--muted);
  --sidebar-accent-foreground: oklch(0.25 0 0);

  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  /* App surfaces */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.18 0 0);
  --card-foreground: var(--foreground);

  --popover: oklch(0.20 0 0);
  --popover-foreground: var(--foreground);

  /* Structure */
  --border: oklch(0.28 0 0);
  --input: var(--border);

  /* Low-emphasis content */
  --muted: oklch(0.22 0 0);
  --muted-foreground: oklch(0.65 0 0);

/* oklch(0.277 0.062 247.961) */
/* Primary color components (user-editable) */
  --primary-l: 0.277;
  --primary-c: 0.062;
  --primary-h: 247.961;

  --accent-foreground: var(--foreground);




  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.welcome-bg-bottom {
  background-image: url('/welcon-bg.jpg');
}

:root {
  h1 {
    @apply text-4xl md:text-5xl font-bold;
  }
  h2 {
    @apply text-3xl md:text-4xl font-semibold;
  }
  h3 {
    @apply text-2xl md:text-3xl font-semibold;
  }
  h4 {
    @apply text-xl md:text-2xl font-medium;
  }
  h5 {
    @apply text-lg md:text-xl font-medium;
  }
}